/* Container */
.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
}

/* Header */
header {
    width: 100%;
    height: 8%;
    background-color: #1b1b1b;
    border-bottom: 1px solid #1b1b1b;
}

.article_body {
    width: 1000px;
    max-width: 100%;
min-width: 40%;

}

.article_cover {
    width: 100%;
    height: auto;
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.article_cover img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

h1 {
    margin: 5px 0 0 0;
    padding: 5px 0 0 0;
}

h6 {
    margin: 2px 0 0 0;
    padding: 0;
}

.tool {
    color: rgba(0, 0, 0, 0.2);
    padding: 0 5px 0 0;
}

.tool:hover {
    color: rgba(0, 0, 0, 0.5);
}

.articlemain {
    width: 100%;
    overflow-wrap: break-word;

}

pre {
    white-space: pre-wrap;
    font-family: 'Public Sans', sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    font-size: 16px;
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

@media screen and (max-width: 600px) {
    .article_body {
        width: 95%;
    }
}