<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<nav class="navigation" id="topnav">
    <ul>
        <a href="/">
            <div id="logo" class="navlogo" alt="LOGO"></div>
        </a>

        <li><a href="/" id="nav-main">Nyheter</a></li>
        <li><a href="/mudae" id="nav-mudae">Mudae</a></li>
        <!--<li><a href=/members id="nav-members">Medlemmar</a></li>-->
        <li><a href="/catch" id="nav-catch">svt!catch</a></li>
        <li><a href="/sajberroyale" id="nav-royale">SajberRoyale</a></li>
        <li><a href="/contact" v-if="loggedIn" id="nav-contact">Kontakt</a></li>
        <li><a v-bind:href="href" v-if="!loggedIn">Logga in</a></li>
        <li><a href="/post" v-if="canPost" id="nav-post">Skapa inlägg</a></li>
        <li><a v-bind:href="profilehref" v-if="loggedIn" id="nav-profile">{{ username }}</a></li>
        <a href="javascript:void(0);" class="icon" onclick="toggleNav()">
            <i class="fa fa-bars"></i>
</nav>

<!--Cookies-->
<div id="cookieConsent">
    <div id="closeCookieConsent">x</div>
    Please note that this website was built for a school assignment and is not affiliated with Sveriges Television AB, osu!, or any other brands you might see here in any way. By continuing to browse the site, you agree to our <u><a href="https://svt.sajber.me/articles/cookie-info.html">use of cookies.</a></u><a class="cookieConsentOK">That's Fine</a>

    <script>
        $(document).ready(function () {
            setTimeout(function () {
                if (!getAloneCookie("accepted_cookies"))
                    $("#cookieConsent").fadeIn(200);
            }, 2000);
            $("#closeCookieConsent, .cookieConsentOK").click(function () {
                $("#cookieConsent").fadeOut(200);
                setCookie("accepted_cookies", true, 100000);
            });
        });
    </script>
</div>

<script>
    function toggleNav() {
        var x = document.getElementById("topnav");
        if (x.className === "navigation") {
            x.className += " responsive";
        } else {
            x.className = "navigation";
        }
    }

    const Login = {
        data() {
            return {
                username: "",
                href: "https://discord.com/api/oauth2/authorize?client_id=793179363029549057&redirect_uri=https%3A%2F%2Fsvt.sajber.me%2Fauth&response_type=code&scope=identify",
                profilehref: "",
                loggedIn: false,
                canPost: false
            }

        },
        mounted: function trylogin() {
            this.$nextTick(function () {
                this.vue_updatenav();
                this.usercookie = getCookie("auth")
                if (this.usercookie.length > 0) {
                    var data = JSON.parse(this.usercookie);
                    this.access_token = data.access_token;
                    this.id = data.id;
                    this.vue_autologin();
                } else {
                    console.log("No access token found, can not log in automatically.")
                }
            })
        },

        methods: {
            async vue_autologin() {
                console.log("Tries to login from saved access token...");
                await axios.post("/auth/verify", {
                    access_token: this.access_token,
                    id: this.id,
                    auth: getAuth()
                }).then(res => {
                    if (res.data[0].name != null) {
                        this.profilehref = "/profile?user=" + res.data[0].id;
                        this.loggedIn = true;
                        this.username = res.data[0].name + "#" + res.data[0].discriminator;
                        this.canPost = res.data[0].canPost;
                    }
                })
            },
            async vue_updatenav() {
                if (window.location.pathname == "/") document.getElementById("nav-main").classList.add("active");
                else if (window.location.pathname.startsWith("/mudae")) document.getElementById("nav-mudae").classList.add("active");
                else if (window.location.pathname.startsWith("/members")) document.getElementById("nav-members").classList.add("active");
                else if (window.location.pathname.startsWith("/catch")) document.getElementById("nav-catch").classList.add("active");
                else if (window.location.pathname.startsWith("/contact")) waitForElm("#nav-contact").then(elm => elm.classList.add("active"));
                else if (window.location.pathname.startsWith("/sajberroyale")) waitForElm("#nav-royale").then(elm => elm.classList.add("active"));
                else if (window.location.pathname.startsWith("/post")) waitForElm("#nav-post").then(elm => elm.classList.add("active"));
                else if (window.location.pathname.startsWith("/profile")) waitForElm("#nav-profile").then(elm => elm.classList.add("active"));
            }
        }
    }
    Vue.createApp(Login).mount('.navigation')

    function waitForElm(selector) {
        return new Promise(resolve => {
            if (document.querySelector(selector)) {
                return resolve(document.querySelector(selector));
            }

            const observer = new MutationObserver(mutations => {
                if (document.querySelector(selector)) {
                    resolve(document.querySelector(selector));
                    observer.disconnect();
                }
            });

            observer.observe(document.body, {
                childList: true,
                subtree: true
            });
        });
    }
</script>