.footer-container {
    padding-top: 10rem;
}

.footer {
    border-top: 2.5px solid rgb(0,0,0,0.1);
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 3rem;
    text-align: center;
    padding: 30px 0;

    @include theme() {
        background-color: theme-get('nav');
        color: theme-get('text-secondary')
    }

    font-family: 'Public Sans',
    sans-serif;

    .footerlogo {
        height: 30px;
        width: 216px;
        background-repeat: no-repeat;
        margin: 15px auto;

        @include theme() {
            background-image: theme-get('logo');
        }
    }
    p{
        margin-bottom:15px;
    }
}