body {
    font-family: 'Public Sans', sans-serif;
    position: relative;
    min-height: 100vh;
}

.navigation {
    text-align: center;
    overflow: hidden;

    a {
        float: left;
        display: block;

        @include theme() {
            color: theme-get('text')
        }

        text-align: center;
        text-decoration: none;
        font-size: 27px;
    }

    ul {
        width: 100%;
        text-align: center;
        padding-inline-start: 0;

        @include theme() {
            background-color: theme-get('nav')
        }

        overflow: hidden;
        margin: 0;

        li {
            text-align: center;
            display: inline;
        }

        li a {
            /*4 länkarna i toppen*/
            font-size: 1.5em;
            font-weight: bolder;
            color: white;
            text-decoration: none;
            padding: 14px 16px;
        }

        li a:hover {
            color: white;
            background-color: $brand-color;
        }
    }
}

#logo {
    @include theme() {
        background-image: theme-get('logo');
    }
    display: block;
    width: 6em;
    height: 30px;
    background-repeat: no-repeat;
    margin:13px;
}



.navigation a.active {
    background-color: $brand-color;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.navigation .icon {
    display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .navigation a:not(:first-child) {
        display: none;
    }

    .navigation a.icon {
        float: right;
        display: block;
        padding:15px;
    }

    .navigation ul li {
        display: none;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .navigation.responsive {
        position: relative;
    }

    .navigation.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navigation.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .navigation.responsive ul li {
        display: block;
    }
}