@media only screen and (min-width: 40em) {
    .screamer_prefix {
        padding: 10px 12px;
    }

    .screamer_readmore {
        display: table-cell;
    }

    .screamer_prefix_text {
        display: inline;
    }

    .screamer_title {
        font-size: 1.5rem;
        line-height: 1;
        padding: 10px 12px;
    }

    .screamer {
        margin-top: 16px;
    }

    .screamer_readmore_text {
        display: inline;
    }
}

.screamer {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    display: table;
    overflow: hidden;
    margin: 30px auto;
    width: 70%;
    box-sizing: inherit;
}

.screamer_prefix {
    @include theme() {
        background-color: theme-get('brand-color');
    }
    display: table-cell;
    padding: 8px 12px;
    vertical-align: middle;
    width: 1%;
}


.screamer_prefix_text {
    font-size: 1.125rem;
    color:white;
    display: inline;
    font-weight: 900;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    box-sizing: inherit;
}

.screamer_title {
    font-size: 1.25rem;

    @include theme() {
        background-color: theme-get('text');
        color: theme-get('nav');
    }

    display: table-cell;
    font-weight: 900;
    line-height: 1.1;
    padding: 8px 12px;
    text-transform: uppercase;
    vertical-align: middle;
    margin: 0;
    box-sizing: inherit;
}

.screamer_readmore {
    @include theme() {
        background-color: theme-get('text');
        color: theme-get('nav');
    }
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1.5;
    padding: 0 16px;
    position: relative;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    width: 1%;
}

.screamer_readmore_text {

    margin-left: 5px;
    margin-right: 4px;
    vertical-align: middle;
}