<html>

<head>
    <title>SajberSoft</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <link rel="stylesheet" type="text/css" href="css/nav.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha512/0.8.0/sha512.min.js"
        integrity="sha512-KUrAWA1oxsWKHBaA2mlZyRuR8zzzHHYgpDfkfPrT3FhlZ4YdXbXyE89VHI6WmWradSHtuZjLyLAMP2F7IWK4JQ=="
        crossorigin="anonymous"></script>
    <script src="js/getCookie.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body id="mountpls">

    <nav>
        <ul>
            <a href="index.html"><img class="navlogo" src="images/logo.svg" alt="LOGO"></a>
            <li><a href="index.html">Nyheter</a></li>
            <li><a href=#pagewrap>Lokalt</a></li>
            <li><a href=#video>Sport</a></li>
            <li><a href="kontakt.html">Kontakt</a></li>
            <li><a v-bind:href="href">{{ navoption }}</a></li>
        </ul>
    </nav>


    <div class="login_mainframe">
        <div id="logo"><img src="img/pps.png" alt=""></div>
        <div class="login_formtable">
            <label class="label" for="username">Användarnamn</label>
            <input class="textbox" type="text" v-model="username">
            <label class="label" for="password">Lösenord</label>
            <input class="textbox" type="password" v-model="password" autocomplete="off">
            <button class="buttons" v-on:click="vue_login">Log in</button>
            <button class="buttons" v-on:click="vue_signup">Sign up</button>
        </div>
        <p>{{ status }}</p>

    </div>
    </div>

    <script>
        const LoginNote = {
            data() {
                return {
                    message: "",
                    username: "",
                    password: "",
                    status: "",
                    navoption: "Logga in",
                    href: "login.html",
                    usercookie: ""
                }

            },
            mounted: function x() {
                this.$nextTick(function () {
                    this.usercookie = getCookie("login")
                    if (this.usercookie.length > 0) {
                        var data = JSON.parse(this.usercookie);
                        this.username = data.username;
                        this.hash = data.password;
                        this.vue_autologin();
                    }
                })
            },
            methods: {
                async vue_login() {
                    await axios.post("/login", {
                        username: this.username,
                        password: sha512(this.password)
                    }).then(res => {
                        if (res.data[0].name == null) {
                            this.status = "This account could not be found... that's pretty cringe ngl";
                            this.href = "login.html";
                            this.navoption = "Logga in"
                        } else {
                            this.status = "Välkommen till SVT!";
                            this.href = "post.html";
                            this.navoption = "Nytt inlägg"
                        }
                    })
                },
                async vue_autologin() {
                    await axios.post("/login", {
                        username: this.username,
                        password: this.hash
                    }).then(res => {
                        if (res.data[0].name != null) {
                            this.status = "Välkommen tillbaka, nu kan du skriva om corona!";
                            this.href = "post.html";
                            this.navoption = "Nytt inlägg"
                        }
                    })
                },
                async vue_signup() {
                    await axios.post("/register", {
                        username: this.username,
                        password: sha512(this.password),
                        message: this.message
                    }).then(res => {
                        if (res.data[0] == null) {
                            this.status = "Welcome to SajberSoft!";
                            this.href = "post.html";
                            this.navoption = "Nytt inlägg"
                        } else {
                            this.status =
                                "This account could not be be created, use an original name lmao";
                            this.href = "login.html";
                            this.navoption = "Logga in"
                        }
                    })
                }
            }
        }


        Vue.createApp(LoginNote).mount('#mountpls')
    </script>
</body>


</html>