<html>

<head>
    <title>SajberSoft</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha512/0.8.0/sha512.min.js"
        integrity="sha512-KUrAWA1oxsWKHBaA2mlZyRuR8zzzHHYgpDfkfPrT3FhlZ4YdXbXyE89VHI6WmWradSHtuZjLyLAMP2F7IWK4JQ=="
        crossorigin="anonymous"></script>
    <script src="/js/getCookie.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2db49cb13f.js" crossorigin="anonymous"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body id="mountpls">

    <div id="navbar"></div>
    <script src="/js/navigationbar.js"></script>
    <br><br>
    <div class="login_mainframe">
        <div class="center">
            <label class="center label" for="username">Användarnamn</label>
            <input class="textbox" type="text" v-model="username"><br>
            <label class="center label" for="password">Lösenord</label>
            <input class="textbox" type="password" v-model="password" autocomplete="off"><br><br>
            <div class="g-recaptcha" data-sitekey="6LeorgwaAAAAAAeTjn3bosy7-zMr3Q90CuSUm72H"
                style="display: inline-block;" data-callback="enableBtn"></div><br><br>
            <button id="loginButton" class="loginbutton" v-on:click="vue_login">Log in</button>
            <button id="signupButton" class="loginbutton" v-on:click="vue_signup" disabled="disabled">Sign up</button>
        </div>
        <p>{{ message }}</p>

    </div>

    <script>
        function enableBtn() {
            document.getElementById("signupButton").disabled = false;
        }
        const LoginNote = {
            data() {
                return {
                    message: "",
                    username: "",
                    password: "",
                    navoption: "Logga in",
                    href: "login.html",
                    usercookie: ""
                }

            },
            methods: {
                async vue_login() {
                    await axios.post("/login", {
                        username: this.username,
                        password: sha512(this.password)
                    }).then(res => {
                        if (res.data[0].name == null) {
                            this.message =
                                "This account could not be found... that's pretty cringe ngl";
                            this.href = "login.html";
                            this.navoption = "Logga in"
                        } else {
                            this.message = "Välkommen till SVT!";
                            this.href = "post.html";
                            this.navoption = "Nytt inlägg"
                        }
                    })
                },
                async vue_signup() {
                    await axios.post("/register", {
                        username: this.username,
                        password: sha512(this.password),
                        message: this.message
                    }).then(res => {
                        if (res.data[0] == null) {
                            this.message = "Välkommen till SVT!";
                            this.href = "post.html";
                            this.navoption = "Nytt inlägg"
                        } else {
                            this.message =
                                "This account could not be be created, use an original name lmao";
                            this.href = "login.html";
                            this.navoption = "Logga in"
                        }
                    })
                }
            }
        }


        Vue.createApp(LoginNote).mount('.login_mainframe')
    </script>
</body>


</html>