<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SVT</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/form.css">
    <link href="css/nav.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/2db49cb13f.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/article.js"></script>
    <script src="js/insert.js"></script>
    <script src="js/getCookie.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans&display=swap" rel="stylesheet">
</head>

<body id="page">
    <!-- Main Container -->

    <nav class="navigation">
        <ul>
            <a href="index.html"><img class="navlogo" src="images/logo.svg" alt="LOGO"></a>
            <li><a href="index.html">Nyheter</a></li>
            <li><a href=#pagewrap>Lokalt</a></li>
            <li><a href=#video>Sport</a></li>
            <li><a href="kontakt.html">Kontakt</a></li>
            <li><a v-bind:href="href">{{ navoption }}</a></li>
        </ul>
    </nav>


    <div class="login_mainframe">
        <div id="logo"><img src="img/pps.png" alt=""></div>
        <div class="login_formtable">

            <label class="label">Nyhetstitel</label><br>
            <input class="textbox" type="text" v-model="title"><br>

            <label class="label">Artikel</label><br>
            <textarea class="textbox articletextbox" type="text" v-model="text"></textarea><br>

            <label class="label">Omslagslänk</label><br>
            <input class="textbox" type="text" v-model="thumbnailurl" placeholder="/omslag.png"><br>

            <label class="label">Artikellänk</label><br>
            <input class="textbox" type="text" v-model="url" placeholder="/min-artikel"><br>

            <button class="submitbutton" v-on:click="vue_createpost">Skapa inlägg</button>
        </div>
        <p>{{ status }}</p>

    </div>


    <script>
        const Login = {
            data() {
                return {
                    title: "",
                    author: "",
                    text: "",
                    thumbnailurl: "",
                    url: "",
                    navoption: "Logga in",
                    href: "login.html",
                    status: ""
                }

            },
            mounted: function trylogin() {
                this.$nextTick(function () {
                    this.usercookie = getCookie("login")
                    if (this.usercookie.length > 0) {
                        var data = JSON.parse(this.usercookie);
                        this.username = data.username;
                        this.hash = data.password;
                        this.vue_autologin();
                    }
                })
            },
            methods: {
                async vue_autologin() {
                    var loginInfo;
                    await axios.post("/login", {
                        username: this.username,
                        password: this.hash
                    }).then(res => {
                        if (res.data[0].name != null) {
                            this.navoption = "Nytt inlägg";
                            this.href = "post.html"
                        }
                    })
                },
                async vue_createpost() {
                    var loginInfo;
                    await axios.post("/createpost", {
                        title: this.title,
                        author: JSON.parse(this.usercookie).username,
                        text: this.text,
                        thumbnailurl: this.thumbnailurl,
                        url: this.url
                    }).then(res => {
                        if (res.data[0].name != null) {
                            this.status = "Din post är uppe!";
                        }
                    })
                },
            }
        }

        Vue.createApp(Login).mount('#page')
    </script>
</body>

</html>