<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SVT</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/form.css" rel="stylesheet" type="text/css">
    <link href="/css/nav.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/2db49cb13f.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/article.js"></script>
    <script src="/js/insert.js"></script>
    <script src="/js/getCookie.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans&display=swap" rel="stylesheet">
</head>

<body id="page">
    <!-- Main Container -->

    <div id="navbar">
        <script src="/js/navigationbar.js"></script>


        <div class="login_mainframe">
            <div class="login_formtable">

                <label class="label">Nyhetstitel</label><br>
                <input class="textbox" type="text" v-model="title"><br>

                <label class="label">Artikel</label><br>
                <textarea class="textbox articletextbox" type="text" v-model="text"></textarea><br>

                <label class="label">Omslagslänk</label><br>
                <input class="textbox" type="text" v-model="thumbnailPath" placeholder="images/omslag.png"><br>

                <label class="label">Artikellänk</label><br>
                <input class="textbox" type="text" v-model="url" placeholder="/min-artikel" :disabled="isEdit == 1"><br>

                <button class="submitbutton" v-on:click="vue_createpost">{{ action }}</button>
            </div>
            <p>{{ status }}</p>

        </div>


        <script>
            const postCreation = {
                data() {
                    return {
                        title: "",
                        author: "",
                        text: "",
                        thumbnailPath: "",
                        url: "",
                        status: "",
                        action: "Skapa inlägg",
                        isEdit: 0
                    }

                },
                mounted: function editpost() {
                    this.$nextTick(function () {
                        var url = new URL(window.location.href);
                        var edit = url.searchParams.get("edit");
                        if (edit != null) {
                            this.url = edit;
                            this.action = "Uppdatera inlägg";
                            this.isEdit = 1;
                            this.vue_fillpost();
                        }

                    })
                },
                methods: {
                    async vue_createpost() {
                        await axios.post("/createpost", {
                            title: this.title,
                            author: JSON.parse(getCookie("login")).username,
                            text: this.text,
                            thumbnailPath: this.thumbnailPath,
                            url: this.url
                        }).then(res => {
                            if (res.data[0].title != null) {
                                this.status = "Din post är uppe!";
                            }
                        })
                    },
                    async vue_fillpost() {
                        await axios.post("/getarticle", {
                            url: this.url
                        }).then(res => {
                            if (res.data[0].title == null) {
                                this.status = "Article not found."
                            } else {
                                this.title = res.data[0].title;
                                this.author = res.data[0].author;
                                this.url = res.data[0].url;
                                this.thumbnailPath = res.data[0].thumbnailPath;
                                this.text = res.data[0].text;
                            }
                        })
                    }
                }
            }

            Vue.createApp(postCreation).mount('.login_mainframe')
        </script>
</body>

</html>