.gamesettings {
    width: 80%;
    margin: auto;
    padding-bottom: 20px;

    @include theme() {
        color: theme-get('text');
    }

    .searchBar {
        font-size: 25px;
        width: 98%;
        padding: 1%;
        margin: 3% 0;

        @include theme() {
            color: theme-get('text');
            background-color: theme-get('foreground')
        }

        border: none;
    }

    .searchBar::placeholder {
        @include theme() {
            color: theme-get('text-disabled')
        }
    }

    .searchBar:focus {
        @include theme() {
            box-shadow: 0 0 30px theme-get('blue');
        }
    }

    p {
        display: inline-block;
    }

    .sortbar {
        width: 100%;
        margin-top: 20px;
        border-radius: 10px;

        @include theme() {
            background-color: theme-get('foreground');
        }

        display: flex;
        align-items: center;
        flex-wrap: wrap;

        p {
            margin: auto;
            padding: 10px;
            border-radius: 10px;
            transition: 0.3s;

            @include theme() {
                background-color: theme-get('background');
            }
        }

        p:hover {
            transition: 0.3s;

            @include theme() {
                background-color: theme-get('foreground');
            }
        }

        h1 {
            margin: 10px;
        }

        .fa-chevron-up,
        .fa-chevron-down {
            padding-left: 7px;
        }
    }
}


canvas {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

#catchbody {
    cursor: url('/catch/img/cursor-normal.png'), default;

    a {
        cursor: url('/catch/img/cursor-hover.png'), pointer;
    }
}

#catchField {
    background: url('/catch/img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
}