.gamesettings {
    width: 80%;
    margin: auto;
    padding-bottom: 20px;

    @include theme() {
        color: theme-get('text');
    }

    .osu-mods {
        display: flex;
        justify-content: space-around;
        transition: 0.2s linear;

        .osu-mod-locked,
        .osu-mod {
            width: 10%;
            transition: 0.2s linear;
        }

        .osu-mod:hover {
            transform: scale(1.05);
        }

        .osu-mod-active {
            @include theme() {
                filter: drop-shadow(0px 0px 20px theme-get('blue'));
                transform: scale(1.05) rotate(5deg);
            }
        }

        .osu-mod-locked {
            opacity: 0.5;
            filter: grayscale(0.4);
        }
    }

    .osu-searchbar {
        font-size: 25px;
        width: 98%;
        padding: 1%;

        @include theme() {
            color: theme-get('text');
            background-color: theme-get('foreground')
        }

        border: none;
    }

    .osu-searchbar::placeholder {
        @include theme() {
            color: theme-get('text-disabled')
        }
    }

    .osu-searchbar:focus {
        @include theme() {
            box-shadow: 0 0 30px theme-get('blue');
        }
    }

    p {
        display: inline-block;
    }

    .osu-sortbar {
        width: 100%;
        border-radius: 10px;

        @include theme() {
            background-color: theme-get('foreground');
        }

        display: flex;
        align-items: center;
        flex-wrap: wrap;

        p {
            margin: auto;
            padding: 10px;
            border-radius: 10px;
            transition: 0.3s;

            @include theme() {
                background-color: theme-get('background');
            }
        }

        p:hover {
            transition: 0.3s;

            @include theme() {
                background-color: theme-get('foreground');
            }
        }

        h1 {
            margin: 10px;
        }

        .fa-chevron-up,
        .fa-chevron-down {
            padding-left: 7px;
        }
    }

    .osu-option {
        margin: 1% 0;

        button {
            @include theme() {
                color: theme-get('text');
            }
        }
    }
}


canvas {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

#osubody {
    cursor: url('/img/cursor-normal.png'), default;

    a,
    .osu-mod {
        cursor: url('/img/cursor-hover.png'), pointer;
    }
}

#catchField {
    background: url('/catch/img/background controls.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
}