#profilebody {
    @include theme() {
        background-color: theme-get('bg');
    }
}

.banneritems {
    height: 100%;
    width: 90%;
    max-width: 700px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-height: 100%;
    color: white;

    h1 {
        color: white;
        margin: 10px;
    }

    p {
        color: white;
    }

    .avatar {
        max-width: 200px;
        width: 100%;
    }

    h1 {
        margin-bottom: 0;
    }
    .bio{
        padding-top:20px;
    }
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/svmBcCG.png");
    height: 60%;
    max-height: 100%;
    min-height: 575px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.editprofile {
    color: white;
    display: inline-block;
}

#rank-list,
#rank-list h3 {
    list-style: none;
    margin: 0;
    padding: 5;
    display: inline-block;
}

#rank-list>li {
    float: left;
    width: 130px;
}


#rank-list>li>.image {
    display: block;
    float: left;
    margin-right: 10px;
}

#rank-list img {
    width: 36.9px;
    height: 42.2px;
}

#profilegallery {
    @include theme() {
        background-color: theme-get('nav');
    }

    padding-bottom: 18%;
    width: 70%;

    .game-stats {
        @include theme() {
            color: theme-get('text');
        }

        text-align: center;

        #rank-list {
            padding: 0;
        }

        p {
            padding: 5px;
        }
    }
}

@media screen and (max-width: 600px) {

    .hero-image {
        height: 70%;
    }

    #profilegallery {
        width: 80%;

        .game-stats {
            width: 100%;
        }
    }
}