// -----------------------------------------------------------------------------
// Handles all site themes
// -----------------------------------------------------------------------------

$themes: (theme_light: ("logo": url('/img/logo_dark.svg'),
        "background": #EAEAEA,
        "foreground": #F4F4F4,
        "foreground-lighter": #FFFFFF,
        "text": rgba(0, 0, 0, 0.87),
        "text-secondary": rgba(0, 0, 0, 0.54),
        "text-disabled": rgba(0, 0, 0, 0.38),
        "icon": rgba(0, 0, 0, 0.2),
        "icon-hover": rgba(0, 0, 0, 0.5),
        "shadow-reverse": rgba(0, 0, 0, 0.5),
        "shadow-invisible": rgba(0, 0, 0, 0),
        "blue": #144B5B,
        "star": rgb(256, 256, 256),
        "brand-color": #e02e3d,
        "brand-text": #FFFFFF),

    theme_dark: ("logo": url('/img/logo_light.svg'),
        "background": #0d0d0d,
        "foreground": #242424,
        "foreground-lighter": #292929,
        "text": #ffffff,
        "text-secondary": rgba(255, 255, 255, 0.7),
        "text-disabled": rgba(255, 255, 255, 0.5),
        "icon": rgba(153, 153, 153, 0.4),
        "icon-hover": rgba(153, 153, 153, 0.7),
        "shadow-reverse": rgba(255, 255, 255, 0.5),
        "shadow-invisible": rgba(255, 255, 255, 0),
        "blue": #41A6C3,
        "star": rgb(206, 206, 206),
        "brand-color": #ed2553,
        "brand-text": #FFFFFF,
        "nav-thickness": 100),

    theme_aqua: ("logo": url('/img/logo_light.svg'),
        "background": rgb(11, 22, 34),
        "foreground": rgb(21, 31, 46),
        "foreground-lighter": rgb(30, 44, 66),
        "text": rgba(159, 173, 189),
        "text-secondary": rgba(159, 173, 189, 0.54),
        "text-disabled": rgba(159, 173, 189, 0.38),
        "icon": rgba(153, 153, 153, 0.4),
        "icon-hover": rgba(153, 153, 153, 0.7),
        "shadow-reverse": rgba(0, 0, 0, 0.5),
        "shadow-invisible": rgba(0, 0, 0, 0),
        "blue": #144B5B,
        "star": #C9F1FB,
        "brand-color": #C9F1FB,
        "brand-text": #213347),

    theme_icecream: ("logo": url('/img/logo_dark.svg'),
        "background": #E9C6F8,
        "foreground": #F2D5FF,
        "foreground-lighter": #F7E6FF,
        "text": rgba(0, 0, 0, 0.87),
        "text-secondary": rgba(0, 0, 0, 0.54),
        "text-disabled": rgba(0, 0, 0, 0.38),
        "icon": rgba(153, 153, 153, 0.6),
        "icon-hover": rgba(153, 153, 153, 0.9),
        "shadow-reverse": rgba(0, 0, 0, 0.5),
        "shadow-invisible": rgba(0, 0, 0, 0),
        "blue": #a336b7,
        "star": #C9F1FB,
        "brand-color": #a336b7,
        "brand-text": #FFFFFF));

@mixin theme() {

    @each $theme,
    $map in $themes {
        $theme-map: $map !global;

        .#{$theme} & {
            @content;
        }
    }

    $theme-map: null !global;
}

@function theme-get($key) {
    @return map-get($theme-map, $key);
}