// -----------------------------------------------------------------------------
// User badges/ranks/roles shown on profiles
// -----------------------------------------------------------------------------

.badge {
	padding: 3px 11px 4px;
	font-size: 12.025px;
	font-weight: bold;
	text-transform: uppercase;
	white-space: nowrap;
	color: pink;
	background-color: #201a1d;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	display: inline-block;
	margin: 10px 5px 10px 5px;
}