* {
    padding: 0;
    margin: 0;
}

canvas {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.hide {
    display: none;
}

#catchbody {
    background-color: #1c1719;
}

.volume{
    left:50%;
    display:inline-block;
    color:white;
    left: 50%;
   
}
.volume p{
    display:inline-block;
}