.gamesettings{
    left:50%;
    display:inline-block;
    left: 50%;
    @include theme() {
        color: theme-get('text');
      }
}
.gamesettings p{
    display:inline-block;
}

canvas {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

#catchbody{
    cursor: url('/catch/img/cursor-normal.png'), default;
a{
    cursor: url('/catch/img/cursor-hover.png'), pointer;
}
}