.gamesettings{
    left:50%;
    display:inline-block;
    color:white;
    left: 50%;
   
}
.gamesettings p{
    display:inline-block;
}

canvas {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}