@charset "UTF-8";
body {
  font-family: "Public Sans", sans-serif;
  margin: 0;
}
.theme_light body {
  background-color: #ebebeb;
}
.theme_dark body {
  background-color: #1c1719;
}

a {
  text-decoration: none;
}
.theme_light a {
  color: #333333;
}
.theme_dark a {
  color: #f6f6f6;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.login_mainframe {
  width: 35%;
  min-width: 450px;
  margin: 0 auto;
  min-height: 20px;
  padding: 5px;
  margin-top: 20px;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.login_formtable {
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 14px;
  min-height: 20px;
  min-width: 100px;
}
.theme_light .login_formtable {
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
}
.theme_dark .login_formtable {
  background-color: #2a2226;
  border: 1px solid #2E2E2E;
}
.login_formtable label {
  margin-bottom: 5px;
}
.theme_light .login_formtable .label {
  color: #333333;
}
.theme_dark .login_formtable .label {
  color: #f6f6f6;
}

.logo_border {
  margin-top: 20px;
}

.textbox {
  font-size: 15px;
  margin: 10px 0;
  width: 60%;
}
.theme_light .textbox {
  color: #333333;
  background-color: #ffffff;
}
.theme_dark .textbox {
  color: #f6f6f6;
  background-color: #382e32;
  border: none;
}

.theme_dark ::placeholder {
  color: #C8C8C8;
}

.bigtextbox {
  height: 200px;
  font-size: 15pt;
}

.articletextbox {
  height: 15em;
  width: 98%;
  padding: 1%;
}

.submitbutton {
  display: inline-block;
  padding: 0.7em 1.4em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #3a69ff;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  text-align: center;
  position: relative;
}

.submitbutton:active {
  top: 0.1em;
}

@media all and (max-width: 30em) {
  .submitbutton {
    display: block;
    margin: 0.4em auto;
  }
}
.loginbutton {
  font-size: 16px;
  padding: 0 20px;
}

@media screen and (max-width: 600px) {
  .login_mainframe {
    width: 90%;
  }
}
#gallery {
  width: 70%;
  max-width: 1400px;
}

button {
  cursor: pointer;
  background: none;
}

.thumbnail {
  display: block;
  width: 100%;
  height: 180px;
  object-fit: cover;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
}

.article_gallery {
  padding: 0 2rem;
  max-width: 100%;
}

.gallery_container {
  max-width: 1030px;
  margin: 0 auto;
}

.d-none {
  display: none;
}

.image-list {
  margin: 3rem 0;
}
.theme_light .image-list li {
  background: #ffffff;
  color: #333333;
}
.theme_dark .image-list li {
  background: #2a2226;
  color: #f6f6f6;
}

.image-list p:first-child {
  font-weight: bold;
  font-size: 1.15rem;
}

.image-list p:last-child {
  margin-top: 0.5rem;
}

.grid-view {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  padding-left: 0;
}

.grid-view figcaption {
  padding: 1rem;
}

.list-view figure {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 150px 1fr;
  align-items: center;
}

figure {
  margin: 0;
}

@media screen and (max-width: 600px) {
  .article_gallery {
    padding: 0;
  }
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  font-size: 16px;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.tooltip :hover .tooltiptext {
  visibility: visible;
}

/* Container */
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
}
.theme_light .container {
  background-color: #ebebeb;
}
.theme_dark .container {
  background-color: #1c1719;
}

/* Header */
header {
  width: 100%;
  height: 8%;
  background-color: #1b1b1b;
  border-bottom: 1px solid #1b1b1b;
}

.article_body {
  width: 1000px;
  max-width: 100%;
  min-width: 40%;
}

.article_cover {
  width: 100%;
  height: 100%;
  max-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

h1 {
  margin: 5px 0 0 0;
  padding: 5px 0 0 0;
}

h6 {
  margin: 2px 0 0 0;
  padding: 0;
}

.theme_light h1,
.theme_light h2,
.theme_light h3,
.theme_light h4,
.theme_light h5,
.theme_light h6,
.theme_light pre,
.theme_light p {
  color: #333333;
}
.theme_dark h1,
.theme_dark h2,
.theme_dark h3,
.theme_dark h4,
.theme_dark h5,
.theme_dark h6,
.theme_dark pre,
.theme_dark p {
  color: #f6f6f6;
}

.tool {
  padding: 0 5px 0 0;
}
.theme_light .tool {
  color: rgba(0, 0, 0, 0.2);
}
.theme_dark .tool {
  color: rgba(153, 153, 153, 0.2);
}

.theme_light .tool:hover {
  color: rgba(0, 0, 0, 0.5);
}
.theme_dark .tool:hover {
  color: rgba(153, 153, 153, 0.5);
}

.articlemain {
  width: 100%;
  overflow-wrap: break-word;
}

pre {
  white-space: pre-wrap;
  font-family: "Public Sans", sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

@media screen and (max-width: 600px) {
  .article_body {
    width: 95%;
  }
}
body {
  font-family: "Public Sans", sans-serif;
  position: relative;
  min-height: 100vh;
}

.navigation {
  text-align: center;
  overflow: hidden;
}

.navigation a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 27px;
}
.theme_light .navigation a {
  color: #333333;
}
.theme_dark .navigation a {
  color: #f6f6f6;
}

.navigation ul {
  width: 100%;
  text-align: center;
  overflow: hidden;
  margin-top: 0px;
}
.theme_light .navigation ul {
  background-color: #ffffff;
}
.theme_dark .navigation ul {
  background-color: #2a2226;
}

.navigation ul li {
  text-align: center;
  display: inline;
}

.navigation ul li a {
  /*4 länkarna i toppen*/
  font-size: 1.5em;
  font-weight: bolder;
  color: white;
  text-decoration: none;
}

.navigation ul li a:hover {
  color: white;
  background-color: #e02e3d;
}

.navigation ul li a:active {
  color: #e02e3d;
}

#logo {
  width: 8em;
  height: 2em;
  object-fit: cover;
  background-repeat: no-repeat;
}
.theme_light #logo {
  background-image: url("/img/logo_dark.svg");
}
.theme_dark #logo {
  background-image: url("/img/logo_light.svg");
}

.navigation a.active {
  background-color: #e02e3d;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.navigation .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .navigation a:not(:first-child) {
    display: none;
  }

  .navigation a.icon {
    float: right;
    display: block;
  }

  .navigation ul li {
    display: none;
  }
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .navigation.responsive {
    position: relative;
  }

  .navigation.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navigation.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .navigation.responsive ul li {
    display: block;
  }
}
.footer-container {
  padding-top: 10rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 3rem;
  text-align: center;
  padding: 30px 0;
  font-family: "Public Sans", sans-serif;
}
.theme_light .footer {
  background-color: #ffffff;
  color: #333333;
}
.theme_dark .footer {
  background-color: #2a2226;
  color: #f6f6f6;
}

.footerlogo {
  height: 54px;
  width: 216px;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.theme_light .footerlogo {
  background-image: url("/img/logo_dark.svg");
}
.theme_dark .footerlogo {
  background-image: url("/img/logo_light.svg");
}

@media only screen and (min-width: 40em) {
  .screamer_prefix {
    padding: 10px 12px;
  }

  .screamer_readmore {
    display: table-cell;
  }

  .screamer_prefix_text {
    display: inline;
  }

  .screamer_title {
    font-size: 1.5rem;
    line-height: 1;
    padding: 10px 12px;
  }

  .screamer {
    margin-top: 16px;
  }

  .screamer_readmore_text {
    display: inline;
  }
}
.screamer {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  display: table;
  overflow: hidden;
  margin: 30px auto;
  width: 70%;
  box-sizing: inherit;
}

.screamer_prefix {
  background-color: #e02e3d;
  display: table-cell;
  padding: 8px 12px;
  vertical-align: middle;
  width: 1%;
}

.screamer_prefix_text {
  font-size: 1.125rem;
  display: inline;
  font-weight: 900;
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
  box-sizing: inherit;
}
.theme_light .screamer_prefix_text {
  color: #ffffff;
}
.theme_dark .screamer_prefix_text {
  color: #2a2226;
}

.screamer_title {
  font-size: 1.25rem;
  display: table-cell;
  font-weight: 900;
  line-height: 1.1;
  padding: 8px 12px;
  text-transform: uppercase;
  vertical-align: middle;
  margin: 0;
  box-sizing: inherit;
}
.theme_light .screamer_title {
  background-color: #333333;
  color: #ffffff;
}
.theme_dark .screamer_title {
  background-color: #f6f6f6;
  color: #2a2226;
}

.screamer_readmore {
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1.5;
  padding: 0 16px;
  position: relative;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  width: 1%;
}
.theme_light .screamer_readmore {
  background-color: #333333;
  color: #ffffff;
}
.theme_dark .screamer_readmore {
  background-color: #f6f6f6;
  color: #2a2226;
}

.screamer_readmore_text {
  margin-left: 5px;
  margin-right: 4px;
  vertical-align: middle;
}

/*# sourceMappingURL=main.css.map */
