.footer-container {
    padding-top: 15rem;
}

.footer {
    border-top: 2.5px solid rgb(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 3rem;
    text-align: center;
    padding: 35px 0;

    @include theme() {
        background-color: theme-get('foreground');
    }

    p,
    p a {
        @include theme() {
            color: theme-get('text-secondary')
        }

        margin-bottom: 15px;
    }

    .footerlogo {
        background-size: 200px;
        height: 50px;
        width: 200px;
        object-fit: contain;
        background-repeat: no-repeat;
        @include theme() {
            background-image: theme-get('logo');
        }
    }
}