#gallery {
    width: 70%;
    max-width: 1400px;
}

button {
    cursor: pointer;
    background: none;
}

.thumbnail {
    border-radius: 15px;
    display: block;
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.memberthumbnail {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ol,
ul {
    list-style: none;
}

a {
    color: inherit;
}

.article_gallery {
    padding: 0 2rem;
    max-width: 100%;
}

.gallery_container {
    width: 90%;
    max-width: 1230px;
    margin: 0 auto;
}

.d-none {
    display: none;
}


.image-list {
    li {
        @include theme() {
            background: theme-get('nav');
            color: theme-get('text');
        }

        border-radius: 15px;
        box-shadow: 4px 5px 5px rgb(0 0 0 / 10%);
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    li::after {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        opacity: 0;
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

    }

    li:hover,
    .song-active {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }

    .song-deactive {
        animation: downscale 0.5s;
    }

    li:hover::after {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(214, 21, 111, 0.5);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(214, 21, 111, 0);
    }
}

@keyframes downscale {
    0% {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }

    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

.image-list .articletitle {
    font-weight: bold;
    font-size: 1.15rem;
}

.image-list p:last-child {
    margin-top: 0.5rem;
}

.grid-view {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    padding-left: 0;
}

.grid-view figcaption {
    padding: 0.8rem;
}


.list-view figure {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: 150px 1fr;
    align-items: center;
}

figure {
    margin: 0;
}


@media screen and (max-width: 600px) {
    .article_gallery {
        padding: 0;
    }
}

p {
    margin: 0;
}



.beatmapCard {
    max-width: 300px;

    .parent {
        border: 0;
        position: relative;
    }

    font-family: "Poppins",
    "Segoe UI";
}

.rankOverlay {
    border: 0;
    position: absolute;
    top: 0;
    width: 20%;
    right: 0;
    padding-right: 1%;
    filter: drop-shadow(0 0 0.4rem #000000);
}

.playButton {
    color: #d9d9d9;
    border: 0;
    position: absolute;
    top: 0;
    width: 30%;
    left: 0;
    padding: 4%;
    filter: drop-shadow(0 0 0.3rem #000000);
}

.starContainer {
    bottom: 0;

    .star {
        bottom: 0;
        font-size: 15px;

        @include theme() {
            color: theme-get('star');
            filter: drop-shadow(0 0 0.2rem black);
        }
    }
}