.scorelist {
    max-width: 780px;

    &__profiles {
        border-radius: 0 0 12px 12px;
        padding: 15px 15px 20px;
        display: grid;
        row-gap: 8px;
        justify-content: center;
    }

    &__profile {
        display: grid;
        grid-template-columns: 1fr 5fr 2fr 2fr;
        align-items: center;
        padding: 10px 30px 10px 10px;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
        transition: transform .25s cubic-bezier(.7, .98, .86, .98), box-shadow .25s cubic-bezier(.7, .98, .86, .98);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 20%;
        max-width: 780px;


        &:hover {
            box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
        }
    }

    &__mods img{
        width:30%;
    }

    &__picture {

        height: 90px;
        object-fit: cover;
        border-radius: 5%;
    }

    &__play {
        cursor: pointer;
        position: absolute;
    }

    &__name {
        color: white;
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 0.64px;
        padding: 12px;
        max-width: 400px;
    }

    &__info {
        font-size: 15px;
        font-weight: 0;
    }

    &__rank {
        position: relative;
        text-align: center;
        width: 70px;
    }

    &__accuracy {
        color: red;
        position: absolute;
        bottom: -5px;
        left: 16px;
    }

    &__value {
        color: #35d8ac;
        font-weight: 700;
        font-size: 34px;
        text-align: right;

        &>span {
            opacity: .8;
            font-weight: 600;
            font-size: 13px;
            margin-left: 3px;
        }
    }
}